.homepage {
  height: 100vh;
  overflow-y: scroll;
}

.leftSide {
  background-color: #fdf9f7;
}

.homepageTitle {
  font-size: 2.5em;
  font-style: italic;
  letter-spacing: -0.14em;
}

.hrLine {
  width: 68%;
  height: 1.3px;
  background-color: #fa454b;
}

.everySingleCard {
  cursor: pointer;
  transition: transform ease-in-out 0.2s;

  .ctaOnHover {
    text-transform: uppercase;
    color: #fa454b;
    font-weight: bold;
    font-size: 0.58em;
    letter-spacing: 1.1px;
    display: none;
    transition: all ease-in-out 1s;
  }

  &:hover {
    transform: scale(1.1);
    .ctaOnHover {
      display: block;
    }
  }
}

.coverBooks {
  width: 110px;
  height: 170px;
  border-radius: 3px;
  box-shadow: -17px 18px 24px -12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -17px 18px 24px -12px rgba(0, 0, 0, 0.5);
}

.booksTitles {
  font-weight: bold;
  font-size: 0.9em;
}

.authorTitles {
  font-size: 0.64em;
  font-weight: bold;
  color: rgb(125, 125, 125);
}
