.bgSideBar {
  background-color: #edeae2;
  height: 100vh;

  .logoText {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 29px;
    letter-spacing: -0.14em;
    user-select: none;
    cursor: pointer;
    @media (max-width: 568px) {
      writing-mode: vertical-lr;
    }
  }

  .iconSideBar {
    font-size: 1.6em;
  }

  .bgIcon {
    margin-top: 3px;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background-color: #ff5a60;
      .iconSideBar {
        color: white;
      }
    }
  }

  .toggleMenu {
    background-color: #ff5a60;
    color: white;
    margin-top: 3px;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    .iconSideBar {
      color: white;
    }
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: 568px) {
      width: 45px;
      height: 45px;
    }
  }

  .linkNav {
    color: black;
  }
}
